<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Over AnnaPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Gemaakt door</string>
			<key>Key</key>
			<string>key</string>
			<key>DefaultValue</key>
			<string>The Attic</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Versie</string>
			<key>Key</key>
			<string>key</string>
			<key>DefaultValue</key>
			<string>1.2 (14)</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Configuratie</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Production</string>
			<key>Key</key>
			<string>env</string>
			<key>Title</key>
			<string>Mode</string>
			<key>Titles</key>
			<array>
				<string>Anna</string>
				<string>Anna Test</string>
				<string>Frascati</string>
				<string>Club</string>
				<string>Cafe5</string>
				<string>Droog</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>anna</string>
				<string>annatest</string>
				<string>frascati</string>
				<string>club</string>
				<string>cafe5</string>
				<string>droog</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
